<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello World</h1>
{% for product in product %}
  <h1>  {{product}}  </h1>
{% endfor %}
</body>
</html>