{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
    <div class="home-page">
        <img src="{% static 'core/logo.svg' %}" alt="logo" class="logo">
    </div>

</body>
</html>