<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Collection Name: {{ collection.title }}</h1>

{% for product in collection.products.all %}
    {{ product.title }}
{% endfor %}
</body>
</html>