<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
{% block subject %}this is a long subject{% endblock %}


{% block html_body %}
<h1>Hello</h1>
My name is {{name}}
{% endblock %}